<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>

</head>
<body>

<div class="container-fluid">

    <h2>Productos</h2>

    <hr>

    <span th:text="${mensaje}"/>

    <table class="table" >
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productos}" >
            <td th:text = "${item.nombre}"/>
            <td th:text = "${item.precio}"/>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>